body{
    background-color: #2b2b2c;
  }
div.containers{
    display: inline-block;
}
  div.container__battle{
      background-color: yellow; 
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      position: absolute;

  }
 